fastapi>=0.115.0
uvicorn>=0.30.0
crewai>=1.11.0
yfinance==1.2.0
pandas==2.2.3
ta==0.11.0
python-dotenv==1.1.1
pydantic>=2.11.9,<3.0.0
pydantic-settings>=2.10.1
requests==2.32.5
supabase==2.28.2
pytz==2025.1
#redis==7.3.0

# LLM providers
langchain-openai==0.3.5
langchain-google-genai==2.0.10
langchain-groq==0.2.4
langchain-huggingface==0.1.2

# Agent Chat & RAG
llama-index==0.14.16
llama-index-llms-openai==0.6.26
llama-index-llms-groq==0.5.0
llama-index-embeddings-openai==0.5.2
llama-index-embeddings-huggingface==0.7.0
crewai-tools==1.11.0
huggingface-hub==0.36.2
sentence-transformers==5.3.0
transformers==4.57.6
tokenizers==0.22.2
